@using MEPAC.Model.Models

@{
    List<Hiring> lstHiring = new List<Hiring>();
    if (ViewData["lstRecentHiring"] != null)
    {
        lstHiring = (List<Hiring>)ViewData["lstRecentHiring"];
    }
}

@foreach (var item in lstHiring)
{
    <div class="col-md-12 col-xs-12 padding-right-left-15">
        <div class="events-grid1 vt-hiring" style="padding-left:1em !important;">
            <a href="/chi-tiet-tuyen-dung/@item.HiringID">
                <img src="@item.LinkImage" alt="@item.Position" title="@item.Position" class="img-responsive" />
            </a>
            <h4><a href="/tuyen-dung/@item.HiringID">@item.Position</a></h4>
            <ul>
                <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>@Html.FormatValue(item.StartDate, "{0:dd/MM/yyyy}") - @Html.FormatValue(item.EnddDate, "{0:dd/MM/yyyy}")</li>
            </ul>
        </div>
    </div>
}

