@using MEPAC.Model.Models
@model Hiring
@{
    ViewBag.Title = Model.Position;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- linh vuc -->
<div class="range none-padding-bottom" style="padding-top:140px;">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="news no-padding">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4 class=""><span class="border-bt">@Model.Position</span></h4>
                            </div>
                        </div>
                        <div class="row" style="padding-top:15px;">
                            <div class="">
                                <div class="big-item clearfix">
                                    <div class="class-image-news col-md-12 col-sm-12 col-xs-12">
                                        <a href="#">
                                            <div>
                                                <img style="width: 100% !important;" class="img-news text-center" alt="@Model.Position" title="@Model.Position" src="@Model.LinkImage">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </div>
                <div class="news no-padding" style="padding-top:20px;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4 class=""><span class="border-bt">Chi tiết</span></h4>
                            </div>
                        </div>
                        @if (Model.Content == null)
                        {
                            <div class="row text-center" style="padding-top:10px; padding-bottom:20px;">
                                <p>Tuyển dụng chưa có nội dung cho tiết.</p>
                            </div>
                        }
                        else
                        {
                            <div class="row" style="padding-top:10px; padding-bottom:20px;">
                                <div class="">
                                    <div class="big-item clearfix">
                                        <div class="class-image-news col-md-12 col-sm-12 col-xs-12">
                                            <div class="class-image-news format-image">
                                                @Html.Raw(Model.Content)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        }
                </div>
                <style>

                    .format-image img {
                        width: 100% !important;
                        height: auto !important;
                    }

                    .format-image table {
                        width: 100% !important;
                    }
                </style>
            </div>

            <div class="col-md-3 area-hiring hiring">
                <h4 class="pd"><span class="border-bt" style="padding-left:0.8em !important;">Tuyển dụng gần đây</span></h4>

                <div class="events-grids vt-fontsize08">
                    @Html.Action("RecentHiring", "Home")
                    @*<div class="col-md-12 col-xs-12 padding-right-left-15">
                            <div class="events-grid1 vt-hiring">
                                <a href="single.html">
                                    <img src="~/Assets/Client/images/tuyenketoan.png" alt=" " class="img-responsive" />
                                </a>
                                <h4><a href="single.html">Tuyển dụng - Kế toán, kiểm toán.</a></h4>
                                <ul>
                                    <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>20/08/2018</li>
                                </ul>
                            </div>
                        </div>*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>
</div>
</div>
<!-- //linh vuc -->