<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="Công ty Mepac, cong ty mepac, cung cấp lắp đặt hệ thống điện cơ, bảo trì bảo dưỡng hệ thống điện cơ, tư vấn thiết kế hệ thống điện cơ, tư vấn quản lý dự án hệ thống điện cơ cho các công trình">
    <meta name="description" content="Công ty Mepac, cong ty mepac, cung cấp lắp đặt hệ thống điện cơ, bảo trì bảo dưỡng hệ thống điện cơ, tư vấn thiết kế hệ thống điện cơ, tư vấn quản lý dự án hệ thống điện cơ cho các công trình">
    <meta property="og:title" content="Meac.vn - Công ty Mepac, cong ty mepac, cung cấp lắp đặt hệ thống điện cơ, bảo trì bảo dưỡng hệ thống điện cơ, tư vấn thiết kế hệ thống điện cơ, tư vấn quản lý dự án hệ thống điện cơ cho các công trình">
    <meta property="og:description" content="Công ty Mepac, cong ty mepac, cung cấp lắp đặt hệ thống điện cơ, bảo trì bảo dưỡng hệ thống điện cơ, tư vấn thiết kế hệ thống điện cơ, tư vấn quản lý dự án hệ thống điện cơ cho các công trình">
    <meta content="INDEX,FOLLOW" name="robots">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright" content="Công ty Cổ phần MEPAC">
    <meta name="author" content="Công ty Cổ phần MEPAC">
    <meta http-equiv="audience" content="General">
    <meta name="GENERATOR" content="Công ty Cổ phần MEPAC">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta property="og:site_name" content="mepac.vn">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/client/bundles/css")
</head>
<body>

    <!-- header -->
    <div class="header">
        <div class="header-top" style="padding: 5px;">
            <div class="container">
                <div class="navbar-header">
                    <div class="logo">
                        <a href="http://mepac.vn/" class="site-logo-link" rel="home">
                            <img width="230" height="60" src="/UploadedFiles/images/logomepac (1).png"
                                 class="site-logo attachment-large" alt="logomepac" data-size="large">
                        </a>
                    </div>
                </div>
                <div class="header-top-left">
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="header-top-left1">
                    <h5><a style="color: #0066CC; font-weight: bold;" title="Email" href="http://mail.mepac.vn/webmail/">ĐĂNG NHẬP WEBMAIL</a></h5>
                </div>
                <div class="header-top-right">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="header-bottom" style="max-height: 50px;">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="logo-mobile">
                            <a href="http://mepac.vn/" class="site-logo-link" rel="home">
                                <img width="210" height="50" src="http://mepac.vn/wp-content/uploads/2017/04/logomepac.png"
                                     class="site-logo attachment-large" alt="logomepac" data-size="large">
                            </a>
                            <i class="fa fa-globe" aria-hidden="true" style="padding: 1em; cursor: pointer; color: gray; float: right"
                               data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"></i>
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                                <li><a href="/gioi-thieu" class="hvr-bounce-to-bottom">Giới thiệu</a></li>
                                <li class="dropdown dropdown-3" value="3">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Lĩnh vực</a>
                                    <ul class="dropdown-menu">
                                        @Html.Action("LoadRange", "Home")
                                        @*<li><a href="defaultvariation.html">Cung cấp – Lắp đặt HT Cơ Điện</a></li>
                                        <li><a href="agentinsidebarvariation.html">Bảo trì – Bảo dưỡng HT Cơ Điện</a></li>
                                        <li><a href="galleryvariation.html">Tư vấn thiết kế HT Cơ Điện</a></li>
                                        <li><a href="galleryvariation.html">Tư vấn QLDA HT Cơ Điện</a></li>*@
                                    </ul>
                                </li>
                                <li><a href="/danh-sach-du-an" class="hvr-bounce-to-bottom">Dự án</a></li>

                                <li class="dropdown dropdown-5" value="5">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Tin tức</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="defaultvariation.html">Tin công trình</a></li>
                                        <li><a href="agentinsidebarvariation.html">Tin thị trường</a></li>
                                    </ul>
                                </li>
                                <li><a href="/tuyen-dung" class="hvr-bounce-to-bottom">Tuyển dụng</a></li>
                                <li><a href="mail.html" class="hvr-bounce-to-bottom">Liên hệ</a></li>
                            </ul>
                        </nav>

                        <nav>
                            <ul class="nav navbar-nav search-desk" style="float: right !important">
                                <li style="padding: 0.5em;">
                                    <img src="~/Assets/Client/images/icon-vn.png" width="30" style="padding-top: 5px" />
                                </li>
                                <li style="padding: 0.5em;">
                                    <img src="~/Assets/Client/images/icon-usa.png" width="30" style="padding-top: 5px" />
                                </li>
                                <li style="padding: 0.5em;">
                                    <input style="display: none" class="search_box" type="checkbox" id="search_box">
                                    <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                                    <div class="search_form" style="box-shadow: 9px 10px 10px -10px grey;">
                                        <form action="#" method="post">
                                            <input type="text" maxlength="200" name="Search" placeholder="Tìm kiếm...">
                                            <input type="submit" value=" ">
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </nav>

                    </div>

                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-2">
                        <nav>
                            <ul class="nav navbar-nav">
                                <li>
                                    <div class="" style="padding-top: 5px;">
                                        <div class="">
                                            <form action="#" method="post">
                                                <input type="text" class="keyword-mobile" maxlength="200" name="Search" placeholder="Tìm kiếm...">
                                                <input type="submit" class="btnSeach-mobile" value=" ">
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li style="padding-bottom: 4px; padding-top: 2px;">
                                    <span>Ngôn ngữ: </span>
                                    <img src="~/Assets/Client/images/icon-vn.png" width="30" style="padding-top: 5px" />
                                    <span style="padding-top: 5px; color: #fff">- </span>
                                    <img src="~/Assets/Client/images/icon-usa.png" width="30" style="padding-top: 5px" />
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
    <!-- //header -->
    <!-- content -->
    @RenderBody()
    <!-- //content -->
    <!-- footer -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footerleft ">
                    <h6 class="heading7" style="font-weight: bold;">Về chúng tôi</h6>
                    <p>
                        <a href="#">Mepac</a> là công ty chuyên cung cấp - lắp đặt, bảo trì - bảo dưỡng, tư vấn thiết kế, tư vấn quản lý các dự án hệ thống cơ điện.
                    </p>
                    <p>
                        <i class="glyphicon glyphicon-map-marker"></i> Trụ sở chính: 69/32 Lê Công Phép, P.An Lạc, Q.Bình Tân, TP.HCM
                    </p>
                    <p>
                        <i class="glyphicon glyphicon-map-marker"></i> Văn phòng: 52, Đường số 2, KDC Him Lam, P.Tân hưng, Q.7, TP.HCM
                    </p>
                    <span itemprop="openingHoursSpecification" itemscope
                          itemtype="http://schema.org/OpeningHoursSpecification">
                        <p>
                            <i class="glyphicon  glyphicon-envelope" aria-hidden="true"></i> Mail: info@mepac.vn
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> 08-62639900-22531289
                        </p>
                    </span>
                </div>

                <div class="col-md-4 col-sm-6 paddingtop-bottom">
                    <iframe id="iframeGM" style="width: 100%; min-height: 293px;" class="gg-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.926559213803!2d106.61890066435596!3d10.740143612800281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752dd110072467%3A0xea5bc33f087186e0!2zQ8O0bmcgVHkgQ-G7lSBQaOG6p24gTWVwYWM!5e0!3m2!1svi!2s!4v1536617201430" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-2 col-sm-6 paddingtop-bottom">
                    <h6 class="heading7" style="font-weight: bold;">Liên kết</h6>
                    <ul class="footer-ul">
                        <li>
                            <a href="#" title="MadGeek About Us"> <i class="fa fm fa-angle-double-right"></i> Giới thiệu</a>
                        </li>
                        <li>
                            <a href="#" title="MadGeek Privacy Policy">
                                <i class="fa fm fa-angle-double-right"></i> Lĩnh vực
                            </a>
                        </li>
                        <li>
                            <a href="#" title="madGeek Terms & Conditions">
                                <i class="fa fm fa-angle-double-right"></i>
                                Dự án
                            </a>
                        </li>
                        <li>
                            <a href="#" title="MadGeek Contact us">
                                <i class="fa fm fa-angle-double-right"></i> Tin tức
                            </a>
                        </li>
                        <li>
                            <a href="#" title="MadGeek SiteMap"> <i class="fa fm fa-angle-double-right"></i> Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="#" title="MadGeek Web Store">
                                <i class="fa fm fa-angle-double-right"></i> Liên hệ
                            </a>
                        </li>
                    </ul>
                </div>     
                <div class="col-md-2 col-sm-6 paddingtop-bottom">
                    <h6 class="heading7" style="font-weight: bold;">Video</h6>
                    <iframe src="https://www.youtube.com/embed/t4qFgbRGbJo" frameborder="0" allow="autoplay; encrypted-media"
                            width="100%" allowfullscreen class="vt-if"></iframe>
                    <p><span style="padding-left: 0em !important;"><a href="single.html">Xem thêm >> </a></span></p>
                </div>         
              
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <p>© 2018 Copyright by MEPAC. All rights reserved</p>
            </div>
        </div>
    </div>

    <style>
        footer {
  background-color: #232c3b;
  min-height: 350px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px
}

.footerleft {
  margin-top: 20px;
}

.logofooter {
  margin-bottom: 10px;
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.footerleft p {
  color: white;
  font-size: 12px !important;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}

.footerleft p i {
  width: 20px;
  color: #fff;
}

.paddingtop-bottom {
  margin-top: 20px;
}

.footer-ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 2px;
}

.footer-ul li {
  line-height: 29px;
  font-size: 12px;
  margin-top: 5px;
}

.footer-ul li a {
  font-size: 17px;
  text-decoration: none;
  font-weight: 200;
  color: #fff;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px dotted #fff;
}

.footer-ul i {
  margin-right: 10px;
}

.footer-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  color: #73b0f4;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.icon-ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}

.icon-ul li {
  line-height: 75px;
  width: 100%;
  float: left;
}

.icon {
  float: left;
  margin-right: 5px;
}

.copyright {
  min-height: 40px;
  background-color: #141d29;
}

.copyright p {
  text-align: center;
  color: white;
  padding: 10px 0;
  margin-bottom: 0px;
}

.heading7 {
  position: relative;
  margin: 0 0 25px;
  color: #fff;
  padding-bottom: 5px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.heading7:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 1px;
  background-color: #fff;
}

.post p a {
  font-size: 12px;
  color: white !important;
  line-height: 20px;
}

.post p a span {
  display: block;
  color: #8f8f8f !important;
}

.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}

.bottom_ul li {
  float: left;
  line-height: 40px;
}

.bottom_ul li:after {
  content: "/";
  color: white;
  margin-right: 8px;
  margin-left: 8px;
}

.bottom_ul li a {
  color: white;
  font-size: 12px;
}

.post a:hover {

  text-decoration: none;
}

.btn-insta {
  color: white !important;
  background: transparent;
}

.fields {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
    </style>
    <!-- //footer -->

    @Scripts.Render("~/client/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(".events-grid1.hvr-sweep-to-top").hover(function () {
            $(this).find("h4 a").css("color", "#fff");
            $(this).find("ul li").css("color", "#fff");
            $(this).find("p.short-content").css("color", "#fff");

        }, function () {
            $(this).find("h4 a").css("color", "#0066CC");
            $(this).find("ul li").css("color", "#333");
            $(this).find("p.short-content").css("color", "#333");
        });   
    </script>

    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">

	    $(document).ready(function () {

	        $().UItoTop({ easingType: 'easeOutQuart' });
	    });

	    $("li.dropdown").hover(function () {
	        var val = $(this).attr("value");
	        $(this).addClass("open");
	        $(this).find("a .dropdown-toggle").attr("aria-expanded", true);
	    }, function () {
	        $(this).removeClass("open");
	        $(this).find("a .dropdown-toggle").attr("aria-expanded", false);
	    });

    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>
